:root {
  --buttonColor: rgb(245, 125, 215);
  --buttonHoverColor: rgb(241, 28, 188);
  --buttonSize: 37px;
}
* {
  padding: 0%;
  margin: 0%;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("res/bluehex2.png");
  overflow-y: scroll;
}

.hero-image {
  background-image: url("res/bluewave.png");
  height: 100%;
  object-fit: stretch;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-text {
  text-align: center;
  position: relative;
  top: 15%;
}

#GroupName {
  color: rgb(19, 22, 228);
  text-align: left;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-right: 2%;
  padding-top: 2%;
  font-weight: 600;
}

h1 {
  color: rgb(34, 218, 231);
  text-align: center;
  font-size: 80px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  margin: auto;
  -webkit-text-stroke: 3px black;
}

#clickAny {
  color: rgb(245, 49, 49);
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 75px;
  text-decoration: underline;
  font-weight: 200px;
}

i {
  color: rgb(212, 176, 247);
}

i:hover {
  color: blueviolet;
}
#navbar {
  width: 100%;
  top: 10px;
  z-index: 5000;
  position: sticky;
  height: var(--buttonSize);
  opacity: 0;
  pointer-events: none;
  display: flex;
}
.nav_button_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.nav_button {
  position: absolute;
  z-index: 5000;
  background-color: var(--buttonColor);
  border-radius: 50%;
  border: 1px solid var(--buttonColor);
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  text-align: center;
  display: inline-block;
}
.nav_button:hover {
  background-color: var(--buttonHoverColor);
}
#back {
  left: 10px;
  width: var(--buttonSize);
  height: var(--buttonSize);
}
#aboutus {
  right: 10px;
  width: var(--buttonSize);
  height: var(--buttonSize);
}
#backtotop {
  height: var(--buttonSize);
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 6px;
  border: 1px solid #057fd0;
}
#backtotop p {
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  line-height: var(--buttonSize);
  color: #ffffff;
  height: 100%;
}
img {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

#header2 {
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(34, 218, 231);
  opacity: 0;
}

#form1 {
  padding-top: 20px;
  text-align: center;
  opacity: 0;
}

.handle_input_field {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  justify-items: center;
  padding-top: 10px;
}
.handle_input {
  min-width: 25%;
  border: none;
  background-color: #f8f8f8;
  padding: 10px 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid rgb(34, 174, 230);
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.handle_submit {
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
  border-radius: 10px;
  /*text-align: center;*/
  background-color: rgb(135, 212, 243);
  color: rgb(255, 242, 242);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#compare_input_field {
  opacity: 0;
  pointer-events: none;
}
#entry {
  cursor: pointer;
  /*Arrow appears misaligned. 
  Looks alright for me when I remove padding.*/
  padding-top: 0; /*15px;*/
  padding-left: 0; /*10px;*/
}

#returnToSearchPage {
  cursor: pointer;
  padding-top: 15px;
  padding-left: 10px;
}

#aboutUsPage {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}
#backtotop {
  opacity: 0;
  pointer-events: none;
}

.handle_submit:hover {
  color: white;
  background-color: rgb(16, 169, 216);
}
#mainBody {
  position: absolute;
  opacity: 0;
  width: 100%;
}
#overlay {
  position: relative;
  opacity: 1;
}
#mainResultContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  flex-grow: 1;
}
#resultContainer {
  width: 98%;
}
.loader {
  opacity: 0;
  border: 4px solid #c3c3c3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  position: absolute;
  animation: spin 2s linear infinite;
  width: 5vw;
  height: 5vw;
  z-index: 10;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

span {
  font-size: 50px;
  color: rgb(226, 81, 81);
}

li {
  text-align: center;
  margin: 0 auto;
}

#GroupName{
  padding-left: 15px;
  padding-top: 50px
}