
.hero-image {
            background-image: url("res/login.jpg");
            height: 100%;
}
.hero-text {
            text-align: center;
            position: relative;
            top: 15%
  
}

#GroupName{ 
            color:gold;
            text-align: right;
            font-size: 30px;
            text-transform: uppercase; 
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            padding-right: 15px;
            padding-top: 10px;
            font-weight: 400;
}

h1 {    
        color:rgb(83, 212, 221); 
        text-align:center;
        text-decoration: underline;
        font-size: 80px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 800; 
        margin:auto;
}

#clickAny{  
            color:rgb(245, 49, 49);
            font-size: 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding-top: 20px;
            
}

i{
    color:blueviolet;
}

img{
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#header2{
        font-size: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:rgb(8, 34, 180);
}

#form1{
      padding-top: 20px;
      text-align: center;
}

#username{
        width: 200px;
        border: none;
        background-color: #f8f8f8;
        padding: 10px 5px;
        border-radius: 5px;
        box-sizing: border-box;
        font-size:15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#backbutton{
            cursor: pointer;
}

#submit{
        cursor: pointer;
        padding: 10px 10px;
        font-size: 20px;
        transition: 0.5s;
        border-radius: 10px;
        text-align: center;
        
}