body, html {
    height: 100%;
  }
  
.bg {
    background-image: url("login.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

.navbar{
  font-weight: bold;
}d